---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/encounter-method
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65f-eAhcwQ/VBWzVv2I1fsTgRAac4ak"
      Function-Execution-Id:
      - d7bju1l6vuyh
      X-Cloud-Trace-Context:
      - 3c78aa5241f214fb02ee095d16d1beff;o=1
      X-Country-Code:
      - MX
      X-Fh-No-Setcookie-Unroll:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"count":27,"next":"https://pokeapi.co/api/v2/encounter-method?offset=20&limit=7","previous":null,"results":[{"name":"walk","url":"https://pokeapi.co/api/v2/encounter-method/1/"},{"name":"old-rod","url":"https://pokeapi.co/api/v2/encounter-method/2/"},{"name":"good-rod","url":"https://pokeapi.co/api/v2/encounter-method/3/"},{"name":"super-rod","url":"https://pokeapi.co/api/v2/encounter-method/4/"},{"name":"surf","url":"https://pokeapi.co/api/v2/encounter-method/5/"},{"name":"rock-smash","url":"https://pokeapi.co/api/v2/encounter-method/6/"},{"name":"headbutt","url":"https://pokeapi.co/api/v2/encounter-method/7/"},{"name":"[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/encounter-method?limit=7&offset=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"294-JQqurI4gIf9WHE35rxKic7F5gmI"
      Function-Execution-Id:
      - lrf55m7901t3
      X-Cloud-Trace-Context:
      - 023712c6496ba57a1dc20d65f06adc45
      X-Country-Code:
      - MX
      X-Fh-No-Setcookie-Unroll:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"count":27,"next":null,"previous":"https://pokeapi.co/api/v2/encounter-method?offset=13&limit=7","results":[{"name":"pokeflute","url":"https://pokeapi.co/api/v2/encounter-method/21/"},{"name":"headbutt-low","url":"https://pokeapi.co/api/v2/encounter-method/22/"},{"name":"headbutt-normal","url":"https://pokeapi.co/api/v2/encounter-method/23/"},{"name":"headbutt-high","url":"https://pokeapi.co/api/v2/encounter-method/24/"},{"name":"squirt-bottle","url":"https://pokeapi.co/api/v2/encounter-method/25/"},{"name":"wailmer-pail","url":"https://pokeapi.co/api/v2/encounter-method/26/"},{"name":"seaweed","url":"https://pokeapi.co/api/v2/encounter-method/27/"}]}'
  recorded_at: Thu, 23 Dec 2021 14:49:58 GMT
recorded_with: VCR 6.0.0
