---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"588-35wx61OlVQ9mt8rOeOeObuZBFoI"
      Function-Execution-Id:
      - f4ibx1czxago
      X-Cloud-Trace-Context:
      - 9d787899a1de103ef1657ab1309f4df0;o=1
      X-Country-Code:
      - US
      X-Fh-No-Setcookie-Unroll:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"count":1118,"next":"https://pokeapi.co/api/v2/pokemon?offset=20&limit=20","previous":null,"results":[{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon/1/"},{"name":"ivysaur","url":"https://pokeapi.co/api/v2/pokemon/2/"},{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon/3/"},{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon/4/"},{"name":"charmeleon","url":"https://pokeapi.co/api/v2/pokemon/5/"},{"name":"charizard","url":"https://pokeapi.co/api/v2/pokemon/6/"},{"name":"squirtle","url":"https://pokeapi.co/api/v2/pokemon/7/"},{"name":"wartortle","url":"https://pokeapi.co/api/v2/pokemon/8/"},{"name":"blastoise","url":"https://pokeapi.co/api/v2/pokemon/9/"},{"name":"caterpie","url":"https://pokeapi.co/api/v2/pokemon/10/"},{"name":"metapod","url":"https://pokeapi.co/api/v2/pokemon/11/"},{"name":"butterfree","url":"https://pokeapi.co/api/v2/pokemon/12/"},{"name":"weedle","url":"https://pokeapi.co/api/v2/pokemon/13/"},{"name":"kakuna","url":"https://pokeapi.co/api/v2/pokemon/14/"},{"name":"beedrill","url":"https://pokeapi.co/api/v2/pokemon/15/"},{"name":"pidgey","url":"https://pokeapi.co/api/v2/pokemon/16/"},{"name":"pidgeotto","url":"https://pokeapi.co/api/v2/pokemon/17/"},{"name":"pidgeot","url":"https://pokeapi.co/api/v2/pokemon/18/"},{"name":"rattata","url":"https://pokeapi.co/api/v2/pokemon/19/"},{"name":"raticate","url":"https://pokeapi.co/api/v2/pokemon/20/"}]}'
  recorded_at: Wed, 22 Dec 2021 17:11:00 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon?limit=20&offset=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5bd-VLUo+zOg0TB2d404gEWwXLERSEI"
      Function-Execution-Id:
      - kbtpy3bbnezb
      X-Cloud-Trace-Context:
      - 33e16e2132e3cfe6618d6e9d1b663f5b;o=1
      X-Country-Code:
      - US
  [...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon?limit=20&offset=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5bd-TgkQoQBfi6p5AftPliBuf0ChBZA"
      Function-Execution-Id:
      - q4qqxcjl7t7a
      X-Cloud-Trace-Context:
      - fb768b1eab38e6d5e23201b270609b08
      X-Country-Code:
      - US
      X-Fh-No-Setcookie-Unroll:
      - 'true'
      X-Orig-Accept-Language:
      - en-us
    body:
      encoding: ASCII-8BIT
      string: '{"count":1118,"next":"https://pokeapi.co/api/v2/pokemon?offset=40&limit=20","previous":"https://pokeapi.co/api/v2/pokemon?offset=0&limit=20","results":[{"name":"spearow","url":"https://pokeapi.co/api/v2/pokemon/21/"},{"name":"fearow","url":"https://pokeapi.co/api/v2/pokemon/22/"},{"name":"ekans","url":"https://pokeapi.co/api/v2/pokemon/23/"},{"name":"arbok","url":"https://pokeapi.co/api/v2/pokemon/24/"},{"name":"pikachu","url":"h[...]
[...]
