---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/contest-type/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"144-fc2YJUj8Gt76TBqQfLuqjeqdbOs"
      Function-Execution-Id:
      - emdrknk3g8gu
      X-Cloud-Trace-Context:
      - 0fa888829e9a552a43f6be0d1ae9f72f
      X-Country-Code:
      - MX
      X-Fh-No-Setcookie-Unroll:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"berry_flavor":{"name":"spicy","url":"https://pokeapi.co/api/v2/berry-flavor/1/"},"id":1,"name":"cool","names":[{"color":"Rouge","language":{"name":"fr","url":"https://pokeapi.co/api/v2/language/5/"},"name":"Sang-froid"},{"color":"Red","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"name":"Cool"}]}'
  recorded_at: Thu, 23 Dec 2021 15:59:54 GMT
recorded_with: VCR 6.0.0
