---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/contest-type?limit=20&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"181-VUN11XfJqCpc9UDV2Y35rnNhwMo"
      Function-Execution-Id:
      - emdrxc4njm07
      X-Cloud-Trace-Context:
      - 7fa0e85d06347f59ae117bceb25a8dc2
      X-Country-Code:
      - MX
      X-Fh-No-Setcookie-Unroll:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"count":5,"next":null,"previous":null,"results":[{"name":"cool","url":"https://pokeapi.co/api/v2/contest-type/1/"},{"name":"beauty","url":"https://pokeapi.co/api/v2/contest-type/2/"},{"name":"cute","url":"https://pokeapi.co/api/v2/contest-type/3/"},{"name":"smart","url":"https://pokeapi.co/api/v2/contest-type/4/"},{"name":"tough","url":"https://pokeapi.co/api/v2/contest-type/5/"}]}'
  recorded_at: Thu, 23 Dec 2021 15:59:53 GMT
recorded_with: VCR 6.0.0
