---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/encounter-method?limit=20&offset=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"294-zGcDfCAHizt8e2Dhg83LpTFVigc"
      Function-Execution-Id:
      - 3vfriqkm2lrg
      X-Cloud-Trace-Context:
      - 3ac09d19efe56e0b24916e409b61b6de
      X-Country-Code:
      - MX
      X-Fh-No-Setcookie-Unroll:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"count":27,"next":null,"previous":"https://pokeapi.co/api/v2/encounter-method?offset=0&limit=20","results":[{"name":"pokeflute","url":"https://pokeapi.co/api/v2/encounter-method/21/"},{"name":"headbutt-low","url":"https://pokeapi.co/api/v2/encounter-method/22/"},{"name":"headbutt-normal","url":"https://pokeapi.co/api/v2/encounter-method/23/"},{"name":"headbutt-high","url":"https://pokeapi.co/api/v2/encounter-method/24/"},{"name":"squirt-bottle","url":"https://pokeapi.co/api/v2/encounter-method/25/"},{"name":"wailmer-pail","url":"https://pokeapi.co/api/v2/encounter-method/26/"},{"name":"seaweed","url":"https://pokeapi.co/api/v2/encounter-method/27/"}]}'
  recorded_at: Thu, 23 Dec 2021 14:49:57 GMT
recorded_with: VCR 6.0.0
